[submodule "deps/antlr-runtime"]
	path = deps/antlr-runtime
	url = git@github.com:CLV-Iclucia/antlr-cmake.git
[submodule "deps/minilog"]
	path = deps/minilog
	url = git@github.com:CLV-Iclucia/minilog.git
